@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: white;
  font-family: sans-serif; }

/* BIENVENIDA */
.bienvenida h1 img {
  width: 700px; }
.bienvenida a {
  color: black; }
.bienvenida p {
  font-size: 150%; }
.bienvenida .municipio {
  display: inline-block;
  width: 400px;
  height: 275px;
  color: white;
  text-decoration: none; }
  .bienvenida .municipio h2 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 0; }
  .bienvenida .municipio h3 {
    font-size: 30px;
    margin-top: 10px; }
  .bienvenida .municipio .mouseout {
    display: inline-block; }
  .bienvenida .municipio .mouseover {
    display: none; }
  .bienvenida .municipio.zap {
    background: #5C5973 url(/img/zapgdl/zap-bkg.png) no-repeat center bottom;
    background-size: auto 100%;
    margin-right: 30px; }
  .bienvenida .municipio.gdl {
    background: #5C5973 url(/img/zapgdl/gdl-bkg.png) no-repeat center bottom;
    background-size: auto 100%; }
  .bienvenida .municipio:hover {
    background-color: #121A2E;
    color: white; }
    .bienvenida .municipio:hover .mouseout {
      display: none; }
    .bienvenida .municipio:hover .mouseover {
      display: inline-block; }

.intro {
  width: 600px;
  margin: 30px auto;
  text-align: left;
  font-size: 110%; }
  .intro p.first {
    font-size: 130%; }
  .intro ul.ejes {
    list-style-type: none;
    font-size: 120%; }
    .intro ul.ejes li {
      font-weight: bold;
      margin: 5px 0; }
      .intro ul.ejes li span {
        border-radius: 50%;
        width: 70px;
        height: 70px;
        line-height: 70px;
        vertical-align: middle;
        font-size: 130%;
        margin-right: 15px;
        text-align: center;
        color: #fff;
        display: inline-block; }
        .intro ul.ejes li span img {
          height: 50px;
          vertical-align: middle; }
    .intro ul.ejes .seg {
      color: #AF0B1E; }
      .intro ul.ejes .seg span {
        background-color: #AF0B1E; }
    .intro ul.ejes .urb {
      color: #CDDA1B; }
      .intro ul.ejes .urb span {
        background-color: #CDDA1B; }
    .intro ul.ejes .eco {
      color: #F6921F; }
      .intro ul.ejes .eco span {
        background-color: #F6921F; }
    .intro ul.ejes .efi {
      color: #8583A0; }
      .intro ul.ejes .efi span {
        background-color: #8583A0; }
    .intro ul.ejes .pub {
      color: #E50027; }
      .intro ul.ejes .pub span {
        background-color: #E50027; }
    .intro ul.ejes .med {
      color: #FBBF0E; }
      .intro ul.ejes .med span {
        background-color: #FBBF0E; }
    .intro ul.ejes .com {
      color: #253763; }
      .intro ul.ejes .com span {
        background-color: #253763; }
  .intro .tabla {
    text-align: center; }

.sponsors {
  padding-bottom: 50px;
  margin-top: 40px;
  padding-top: 30px;
  border-top: 1px solid #aaa;
  color: #aaa;
  background: #eee; }
  .sponsors img {
    vertical-align: middle; }
  .sponsors .jcv {
    width: 200px;
    margin-right: 50px; }

/* GUADALAJARA */
.guadalajara {
  /* Indice de ejes */
  /* EJE */ }
  .guadalajara .header {
    vertical-align: middle;
    background: #555;
    height: 60px;
    width: 100%;
    line-height: 60px;
    text-align: left;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden; }
    .guadalajara .header .home {
      display: inline-block;
      text-decoration: none;
      background: #eee;
      float: left;
      width: 200px;
      text-align: center; }
      .guadalajara .header .home img {
        width: 150px;
        vertical-align: middle; }
    .guadalajara .header .top {
      font-size: 170%;
      margin: 0 20px;
      padding: 0;
      display: inline-block;
      text-decoration: none;
      color: white; }
      .guadalajara .header .top img {
        height: 60px;
        vertical-align: middle;
        margin-right: 10px; }
  .guadalajara .alcalde {
    background: #FCE809;
    text-align: center;
    height: 175px;
    line-height: 175px;
    padding-top: 60px; }
    .guadalajara .alcalde h2, .guadalajara .alcalde .bio, .guadalajara .alcalde .inicioFin, .guadalajara .alcalde .datos {
      display: inline-block;
      text-align: left;
      line-height: normal;
      vertical-align: top; }
    .guadalajara .alcalde h2 {
      font-size: 150%;
      text-align: center;
      margin: 0;
      padding: 0;
      background: #DBC808;
      height: 175px;
      padding: 0 30px;
      overflow: hidden; }
      .guadalajara .alcalde h2 img {
        height: 90px;
        margin-top: 30px; }
    .guadalajara .alcalde .datos {
      background: #DBC808;
      height: 175px;
      padding: 0 20px; }
      .guadalajara .alcalde .datos .tel {
        margin-top: 30px; }
      .guadalajara .alcalde .datos div {
        margin: 15px 0; }
    .guadalajara .alcalde .bio, .guadalajara .alcalde .inicioFin {
      width: 250px;
      padding: 0 20px;
      vertical-align: middle; }
    .guadalajara .alcalde .inicioFin {
      text-align: center; }
      .guadalajara .alcalde .inicioFin b {
        padding-left: 10px;
        background: #DBC808;
        display: inline-block;
        margin: 3px 0;
        font-weight: normal; }
        .guadalajara .alcalde .inicioFin b big {
          color: black;
          background: #C1B10B;
          padding: 2px 5px;
          vertical-align: middle;
          font-size: 120%;
          display: inline-block; }
      .guadalajara .alcalde .inicioFin b:last-of-type {
        margin-bottom: 10px; }
      .guadalajara .alcalde .inicioFin .dias, .guadalajara .alcalde .inicioFin .porcentaje {
        display: inline-block;
        font-weight: bold;
        width: auto;
        padding: 0 3px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle; }
        .guadalajara .alcalde .inicioFin .dias i, .guadalajara .alcalde .inicioFin .porcentaje i {
          font-style: normal; }
      .guadalajara .alcalde .inicioFin .dias {
        background: #000;
        color: white;
        font-size: 120%;
        padding: 0 7px; }
      .guadalajara .alcalde .inicioFin .porcentaje {
        background: #DBC808;
        font-weight: normal; }
    .guadalajara .alcalde a {
      color: black; }
  .guadalajara .ejes {
    padding: 20px 0;
    background: #eee;
    background-color: #bbb;
    background-image: -webkit-linear-gradient(top, #bbb, #eee);
    background-image: linear-gradient(to bottom,#bbb, #eee); }
    .guadalajara .ejes big {
      display: block; }
    .guadalajara .ejes ul {
      list-style-type: none;
      width: 80%;
      margin: 0 auto;
      text-align: center; }
      .guadalajara .ejes ul li {
        color: white;
        margin: 15px;
        padding: 0;
        display: inline-block;
        width: 600px;
        cursor: pointer;
        text-align: left;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        transition: all 1s ease; }
        .guadalajara .ejes ul li span.icon {
          float: left;
          margin: 0;
          margin-right: 20px;
          padding: 10px; }
          .guadalajara .ejes ul li span.icon img {
            height: 80px; }
        .guadalajara .ejes ul li.right big, .guadalajara .ejes ul li.right small {
          margin-left: 15px;
          text-align: right;
          display: block; }
        .guadalajara .ejes ul li.right span.icon {
          float: right;
          margin-right: 0;
          margin-left: 20px; }
        .guadalajara .ejes ul li.right small {
          display: none; }
        .guadalajara .ejes ul li big {
          margin-top: 15px; }
        .guadalajara .ejes ul li a {
          color: white;
          text-decoration: none;
          font-weight: bold;
          font-size: 150%; }
        .guadalajara .ejes ul li small {
          font-size: 110%;
          display: none; }
        .guadalajara .ejes ul li:hover a {
          text-decoration: underline; }
        .guadalajara .ejes ul li.seg {
          background-color: #AF0B1E;
          width: 400px;
          margin-left: 100px; }
          .guadalajara .ejes ul li.seg span.icon {
            background-color: #770013; }
        .guadalajara .ejes ul li.urb {
          background-color: #CDDA1B;
          width: 400px;
          margin-right: 100px; }
          .guadalajara .ejes ul li.urb span.icon {
            background-color: #7F9304; }
        .guadalajara .ejes ul li.eco {
          background-color: #F6921F;
          width: 500px;
          margin-left: 0; }
          .guadalajara .ejes ul li.eco span.icon {
            background-color: #8F4103; }
        .guadalajara .ejes ul li.efi {
          background-color: #8583A0;
          width: 500px;
          margin-right: 0; }
          .guadalajara .ejes ul li.efi span.icon {
            background-color: #3A374C; }
        .guadalajara .ejes ul li.pub {
          background-color: #E50027;
          width: 400px;
          margin-left: 100px; }
          .guadalajara .ejes ul li.pub span.icon {
            background-color: #7A000D; }
        .guadalajara .ejes ul li.med {
          background-color: #FBBF0E;
          width: 400px;
          margin-right: 100px; }
          .guadalajara .ejes ul li.med span.icon {
            background-color: #885C03; }
        .guadalajara .ejes ul li.com {
          background-color: #253763;
          width: 550px; }
          .guadalajara .ejes ul li.com span.icon {
            background-color: #151D39; }
        .guadalajara .ejes ul li:hover a {
          text-decoration: underline; }
        .guadalajara .ejes ul li:hover.seg {
          background-color: #770013; }
        .guadalajara .ejes ul li:hover.urb {
          background-color: #7F9304; }
        .guadalajara .ejes ul li:hover.eco {
          background-color: #8F4103; }
        .guadalajara .ejes ul li:hover.efi {
          background-color: #3A374C; }
        .guadalajara .ejes ul li:hover.pub {
          background-color: #7A000D; }
        .guadalajara .ejes ul li:hover.med {
          background-color: #885C03; }
        .guadalajara .ejes ul li:hover.com {
          background-color: #151D39; }
    .guadalajara .ejes.counted ul li small {
      display: block; }
  .guadalajara #template {
    display: none; }
  .guadalajara .eje {
    padding: 20px 0;
    margin: 0;
    text-align: left; }
    .guadalajara .eje h3 {
      text-align: center;
      padding-top: 20px;
      font-weight: bold;
      color: white;
      margin: 0;
      padding: 20px 0;
      font-size: 200%;
      width: 100%;
      height: 100px;
      line-height: 100px; }
      .guadalajara .eje h3 span {
        display: inline-block;
        margin: 0;
        padding: 0 10px;
        line-height: 100px;
        vertical-align: top; }
        .guadalajara .eje h3 span img {
          height: 80px;
          vertical-align: middle; }
      .guadalajara .eje h3 big {
        display: inline-block;
        height: 100px;
        padding: 0 30px; }
    .guadalajara .eje ul.compromisos {
      width: 900px;
      margin: 0 auto;
      list-style-type: none; }
      .guadalajara .eje ul.compromisos li.compromiso {
        padding: 20px 40px;
        margin: 0; }
        .guadalajara .eje ul.compromisos li.compromiso big {
          color: white;
          font-size: 130%;
          cursor: pointer;
          padding: 10px 20px;
          line-height: 40px;
          display: inline-block;
          margin-left: -50px;
          margin-right: 50px; }
        .guadalajara .eje ul.compromisos li.compromiso ul.indicadores {
          display: none;
          margin: 0;
          padding: 0;
          list-style-type: none; }
          .guadalajara .eje ul.compromisos li.compromiso ul.indicadores li.indicador {
            padding: 0;
            margin: 20px 0;
            background: #ddd; }
            .guadalajara .eje ul.compromisos li.compromiso ul.indicadores li.indicador div {
              display: inline-block;
              text-align: center;
              vertical-align: top; }
            .guadalajara .eje ul.compromisos li.compromiso ul.indicadores li.indicador .descripción {
              width: 60%;
              padding: 15px;
              font-size: 120%;
              display: inline-block;
              text-align: left;
              margin-right: 5px; }
            .guadalajara .eje ul.compromisos li.compromiso ul.indicadores li.indicador .arranque, .guadalajara .eje ul.compromisos li.compromiso ul.indicadores li.indicador .actualización, .guadalajara .eje ul.compromisos li.compromiso ul.indicadores li.indicador .meta {
              width: 60px;
              background: #ccc;
              padding: 10px;
              margin: 10px 0;
              font-weight: bold;
              font-size: 120%;
              margin-top: 15px; }
            .guadalajara .eje ul.compromisos li.compromiso ul.indicadores li.indicador .actualización {
              width: 100px;
              padding: 15px 10px;
              margin-top: 10px;
              background: #aaa; }
            .guadalajara .eje ul.compromisos li.compromiso ul.indicadores li.indicador .hover {
              display: none;
              background: #ccc;
              text-align: left;
              font-size: 90%; }
              .guadalajara .eje ul.compromisos li.compromiso ul.indicadores li.indicador .hover .fuente {
                width: 20%;
                text-align: center;
                padding: 10px;
                background: #999; }
                .guadalajara .eje ul.compromisos li.compromiso ul.indicadores li.indicador .hover .fuente a {
                  font-style: italic; }
              .guadalajara .eje ul.compromisos li.compromiso ul.indicadores li.indicador .hover .observaciones {
                width: 40%;
                text-align: left;
                padding: 10px; }
              .guadalajara .eje ul.compromisos li.compromiso ul.indicadores li.indicador .hover .fechaarranque, .guadalajara .eje ul.compromisos li.compromiso ul.indicadores li.indicador .hover .fechaactualización, .guadalajara .eje ul.compromisos li.compromiso ul.indicadores li.indicador .hover .fechameta {
                width: 60px;
                padding: 10px;
                text-align: center; }
              .guadalajara .eje ul.compromisos li.compromiso ul.indicadores li.indicador .hover .fechaactualización {
                width: 100px; }
            .guadalajara .eje ul.compromisos li.compromiso ul.indicadores li.indicador:hover .hover {
              display: block; }
      .guadalajara .eje ul.compromisos.picked li.compromiso ul.indicadores {
        display: block; }
    .guadalajara .eje#seguridad {
      background-color: #770013;
      background-image: -webkit-linear-gradient(right, #770013, #AF0B1E);
      background-image: linear-gradient(to left,#770013, #AF0B1E); }
      .guadalajara .eje#seguridad li.compromiso big {
        background-color: #770013; }
      .guadalajara .eje#seguridad li.compromiso:hover big {
        background-color: #AF0B1E; }
    .guadalajara .eje#desarrollo-urbano {
      background-color: #7F9304;
      background-image: -webkit-linear-gradient(right, #7F9304, #CDDA1B);
      background-image: linear-gradient(to left,#7F9304, #CDDA1B); }
      .guadalajara .eje#desarrollo-urbano li.compromiso big {
        background-color: #7F9304; }
      .guadalajara .eje#desarrollo-urbano li.compromiso:hover big {
        background-color: #CDDA1B; }
    .guadalajara .eje#desarrollo-economico {
      background-color: #8F4103;
      background-image: -webkit-linear-gradient(right, #8F4103, #F6921F);
      background-image: linear-gradient(to left,#8F4103, #F6921F); }
      .guadalajara .eje#desarrollo-economico li.compromiso big {
        background-color: #8F4103; }
      .guadalajara .eje#desarrollo-economico li.compromiso:hover big {
        background-color: #F6921F; }
    .guadalajara .eje#eficiencia {
      background-color: #3A374C;
      background-image: -webkit-linear-gradient(right, #3A374C, #8583A0);
      background-image: linear-gradient(to left,#3A374C, #8583A0); }
      .guadalajara .eje#eficiencia li.compromiso big {
        background-color: #3A374C; }
      .guadalajara .eje#eficiencia li.compromiso:hover big {
        background-color: #8583A0; }
    .guadalajara .eje#servicios-publicos {
      background-color: #7A000D;
      background-image: -webkit-linear-gradient(right, #7A000D, #E50027);
      background-image: linear-gradient(to left,#7A000D, #E50027); }
      .guadalajara .eje#servicios-publicos li.compromiso big {
        background-color: #7A000D; }
      .guadalajara .eje#servicios-publicos li.compromiso:hover big {
        background-color: #E50027; }
    .guadalajara .eje#medio-ambiente {
      background-color: #885C03;
      background-image: -webkit-linear-gradient(right, #885C03, #FBBF0E);
      background-image: linear-gradient(to left,#885C03, #FBBF0E); }
      .guadalajara .eje#medio-ambiente li.compromiso big {
        background-color: #885C03; }
      .guadalajara .eje#medio-ambiente li.compromiso:hover big {
        background-color: #FBBF0E; }
    .guadalajara .eje#comunidad {
      background-color: #151D39;
      background-image: -webkit-linear-gradient(right, #151D39, #253763);
      background-image: linear-gradient(to left,#151D39, #253763); }
      .guadalajara .eje#comunidad li.compromiso big {
        background-color: #151D39; }
      .guadalajara .eje#comunidad li.compromiso:hover big {
        background-color: #253763; }

/*# sourceMappingURL=style.css.map */
