/*
Error: Invalid CSS after "...ize:220%; 0.5em": expected "{", was "}"
        on line 164 of /Users/bex/Dropbox/prjcts/else/jcv/qhha/css/style.scss

159: 				div.text {font-size:160%}
160: 			}
161: 			h2 {font-size:100%; text-align:center; margin:0; padding:0; background:#DBC808; height:$alcaldeHeight;
162: 				padding:0 3em; overflow:hidden;
163: 				img {height:11em; margin-top:3em}
164: 				span {display:block; font-size:220%; 0.5em}
165: 			}
166: 			.datos { background:#DBC808; height:$alcaldeHeight; padding:0 2em;
167: 				.tel, .email, .twitter {margin:1.5em 0;
168: 					span, a {font-size:160%}
169: 				}

Backtrace:
/Users/bex/Dropbox/prjcts/else/jcv/qhha/css/style.scss:164
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:1167:in `expected'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:641:in `block'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:712:in `declaration_or_ruleset'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:712:in `declaration_or_ruleset'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:712:in `declaration_or_ruleset'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:712:in `declaration_or_ruleset'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:712:in `declaration_or_ruleset'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:636:in `ruleset'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/exec/base.rb:52:in `parse'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/lib/sass/exec/base.rb:19:in `parse!'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.4.13/bin/sass:13:in `<top (required)>'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/bin/sass:19:in `load'
/Users/bex/.rvm/gems/ruby-1.9.2-p290/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ize:220%; 0.5em\": expected \"{\", was \"}\"\A         on line 164 of /Users/bex/Dropbox/prjcts/else/jcv/qhha/css/style.scss\A \A 159: 				div.text {font-size:160%}\A 160: 			}\A 161: 			h2 {font-size:100%; text-align:center; margin:0; padding:0; background:#DBC808; height:$alcaldeHeight;\A 162: 				padding:0 3em; overflow:hidden;\A 163: 				img {height:11em; margin-top:3em}\A 164: 				span {display:block; font-size:220%; 0.5em}\A 165: 			}\A 166: 			.datos { background:#DBC808; height:$alcaldeHeight; padding:0 2em;\A 167: 				.tel, .email, .twitter {margin:1.5em 0;\A 168: 					span, a {font-size:160%}\A 169: 				}"; }
