@charset "UTF-8";
@import "bourbon/bourbon";

body {margin:0; padding:0; text-align:center; background:white; font-family:'Roboto', sans-serif; font-weight:100}

$seg:#AF0B1E;  $seg2:#770013; 
$urb:#CDDA1B;  $urb2:#7F9304;
$eco:#F6921F;  $eco2:#8F4103;
$efi:#8583A0;  $efi2:#3A374C;
$pub:#E50027;  $pub2:#7A000D;
$med:#FBBF0E;  $med2:#885C03;
$com:#253763;  $com2:#151D39;

#menu {position:fixed; z-index:4; right:4.5em; top:0; text-align:right; display:table; height:100%;
	.middle {display:table-cell; vertical-align:middle; clear:both;
		a {display:block; line-height:3em; height:3em;
			span {display:inline-block; vertical-align:middle; width:1em; height:1em; border-radius:1em;
				border:2px solid white; background:white; transition:all 0.5s ease; margin-left:2em}
			big {display:none; vertical-align:middle; background:white; color:black; font-size:2em; padding:0.3em 0.6em}

			&.here {
				span {background:transparent}
			}

			&:hover { 
				span {width:2.5em; height:2.5em; border-radius:2.5em; margin-top:-0.75em; margin-right:-0.75em}
				big {display:inline-block;}
			}
		}
	}
}

#zapGdl #menu .middle a {
	span {border-color:transparent; background:#ccc}
	big {color:white}
	&.indice, &.feedback {
		big { color:black }
	}
	&.here {
		span {width:2.5em; height:2.5em; border-radius:2.5em; margin-top:-0.75em; margin-right:-0.75em; border-color:white}
	}

	&.seguridad {span, big {background-color:$seg}}
	&.desarrollo-urbano {span, big {background-color:$urb}}
	&.desarrollo-economico {span, big {background-color:$eco}}
	&.eficiencia {span, big {background-color:$efi}}
	&.servicios-publicos {span, big {background-color:$pub}}
	&.medio-ambiente {span, big {background-color:$med}}
	&.comunidad {span, big {background-color:$com}}
}

#inicio {font-size:10px; transition:background 1s ease; color:#fff; background:#FBBF0E;
	a {color:#fff}
	.slide {
		 .inside { display: table; height: 100%; width: 100%; padding: 0 3em;
			 .middle {
				display: table-cell;
				width: 100%;
				clear: both;
				vertical-align: middle; 
				text-align: left; 
			 }
		  }
	}

	h1, h2, h3 {font-size:100%}
	/* BIENVENIDA */
	#bienvenida {
		&.slide .inside .middle { text-align:center; }
		h1 { padding: 0 0 4em 0; padding-top:10em;
			img { width:70em; }
		}
		p {font-size:310%; margin-top:0.5em}

		.municipio {display:inline-block; width:40em; height:27.5em; color:white; text-decoration:none; margin-top:3em; margin-bottom:8em;
			h2 {font-size:5em; font-weight:100; text-transform:uppercase; margin-top:1em; margin-bottom:0}
			h3 {font-size:3em; margin-top:0.33em}

			.mouseout {display:inline-block}
			.mouseover {display:none}

			&.zap {
				background:#5C5973 url(/img/zapgdl/zap-bkg.png) no-repeat center bottom;
				background-size:auto 100%;
				margin-right:3em;
			}
			&.gdl {
				background:#5C5973 url(/img/zapgdl/gdl-bkg.png) no-repeat center bottom;
				background-size:auto 100%;
			}

			&:hover {
				background-color:#121A2E;
				color:white;
				.mouseout {display:none}
				.mouseover {display:inline-block}
			}

		}
	}

	.page { width:100%;
		.explicacion {width:70em; margin:2em auto; text-align:left; font-size:100%;
			p {font-size:250%}
			b {font-family:'Roboto Bold'}
		}
		.inside {width:35em; padding:5em 0; margin:0 auto; text-align:left; font-size:220%; text-align:left;
			h2 {font-weight:100; text-transform:uppercase; font-size:250%; text-align:center; padding-top:4em}
			ul.ejes {list-style-type:none; font-size:120%;
				li {font-weight:bold; margin:0.5em 0; 
					span {border-radius:50%; width:2em; height:2em; line-height:2em; vertical-align:middle;
						font-size:130%; margin-right:0.5em; text-align:center; color:#fff; display:inline-block;
						img {height:1.3em; vertical-align:middle;}
					}
				}
				.seg {color:$seg; span {background-color:$seg}}
				.urb {color:$urb; span {background-color:$urb}}
				.eco {color:$eco; span {background-color:$eco}}
				.efi {color:$efi; span {background-color:$efi}}
				.pub {color:$pub; span {background-color:$pub}}
				.med {color:$med; span {background-color:$med}}
				.com {color:$com; span {background-color:$com}}
			}
		}
		&#que-es .inside { width:100%;
			.middle2 {width:35em; margin:0 auto;}
			.middle {
				h2 {margin-top:0}
				p {font-size:120%;}
				.logos p {font-size:400%}
			}
		}
		&#fuentes .inside {width:100%;
			.middle {text-align:center;
				h2 {width:25em; margin:0 auto}
				ul.fuentes {
					li {width:25%; height:45%; margin:2% 6%; margin-bottom:0; display:inline-block; text-align:center; vertical-align:top;
						.pages {height:12em; line-height:12em;
							a {display:inline-block; vertical-align:top;
								img {width:8em; border:1px solid #555; @include transition(all 0.5s ease); }
								&:hover img {width:10em}
							}
						}
					}
				}
			}
		}
		&#ejes .inside .middle {text-align:center;
			.flor {width:30em}
		}
		&#como-se-miden .inside .middle {text-align:left;
		}
	}
}

.sponsors {padding-bottom:5em; margin-top:0; padding-top:2em; border-top:1px solid #aaa; color:#555; background:#ccc;
}

.sponsors, #inicio .logos {font-size:5px; width:100%; overflow:hidden; text-align:center;
	p {font-size:350%; margin-bottom:0}
	.list {line-height:25em; height:25em; overflow:hidden; width:200%; margin-left:-50%; text-align:center;
		a {text-decoration:none; vertical-align:middle; display:inline-block;
			img {vertical-align:middle; margin-right:4em; @include transition(all 0.5s ease-out);}
			&.jcv img {width:28em;}
			&.coparmex img {height:12em}
			&.canaco img {width:25em}
			&.ccij img {width:11em;}
			&.iteso img {width:26em;}
			&.cj img {width:16em;}
			&.tomala img {width:23em;}
			&.extra img {width:20em;}

			&.zoomed img {font-size:200%; margin-right:2em}
			&.zoomedAdj img {font-size:150%; margin-right:2.6em}
		}
	}
}

$headerHeight:20em;
$smallHeaderHeight:8em;

/* ZAPOPAN & GUADALAJARA */
#zapGdl {font-size:10px; background-color:#fff; transition:background 1s ease;
	background-repeat:repeat-y; background-size:100% auto;
	/* HEADER */
	#header { vertical-align:middle; background:#555; height:$headerHeight; width:100%; line-height:$headerHeight; text-align:left; color:white; position:fixed; top:0; left:0; overflow:hidden; z-index:3;
		.home {display:inline-block; text-decoration:none; background:#eee; float:left; width:50em; text-align:center; height:$headerHeight;
			img {width:40em; vertical-align:top; margin-top:3em;}
		}
		.top {height:$headerHeight; line-height:$headerHeight; vertical-align:bottom; font-weight:100; margin:0 2em; padding:0; 
				display:block; text-decoration:none; color:white; text-transform:uppercase;
			img {height:$headerHeight; vertical-align:top; margin:0 3em;
				&.up {display:none; margin:0 2.2em}
			}
			span {display:inline-block; vertical-align:middle; font-size:7em; margin-top:0.75em}
		}
		&.small { height:$smallHeaderHeight; line-height:$smallHeaderHeight;
			.home {width:25em; height:$smallHeaderHeight;
				img {width:20em; margin-top:0}
			}
			.top {line-height:$smallHeaderHeight;
				img {height:$smallHeaderHeight}
				span {font-size:4em; margin-top:0}
			}
			&:hover .top {
				img.zapGdl {display:none}
				img.up {display:inline-block; }
			}
		}
		&.easing { @include transition(all 1s ease);
			.home {@include transition(all 1s ease);
				img {@include transition(all 1s ease);}
			}
			.top {@include transition(all 1s ease);
				img {@include transition(all 1s ease);}
			}
		}
	}

	/* Indice de ejes */
	#indice {padding:0; height:100%; position:relative; overflow:hidden;

		.bienvenida { padding-top:$headerHeight; margin:2.5em 2em 1em 2em;
			p {margin:0; padding:0.5em 0; line-height:1.6em; font-size:200%;
				span {background:#ddd; padding:0.2em 0.3em}
				.totalCompromisos, .totalIndicadores {background:black; color:white}
			}
		}
		big {display:block}
		ul {list-style-type:none; width:100%; margin:0 auto; text-align:center;
			li {color:white; margin:1em; padding:0; display:inline-block; width:60em; cursor:pointer; text-align:left;
				@include transition(all 1s ease);
				span.icon { float:left; margin:0; margin-right:2em; padding:1em;
					img {height:8em;}
				}
				&.right {
					big, small {margin-left:1.5em; text-align:right; display:block}
					span.icon {float:right; margin-right:0; margin-left:2em}
					small {display:none}
				}
				big {margin-top:2em; font-size:100%}
					a {color:white; text-decoration:none; font-weight:100; font-size:300%; text-transform:uppercase}
				small {font-size:160%; display:none; margin-top:0.3em}
				&:hover {
					a {text-decoration:underline}
				}

				&.seg {background-color:$seg; width:40em; margin-left:10em; span.icon {background-color:$seg2;}}
				&.urb {background-color:$urb; width:45em; margin-right:5em; span.icon {background-color:$urb2;}}
				&.eco {background-color:$eco; width:50em; margin-left:0; span.icon {background-color:$eco2;}}
				&.efi {background-color:$efi; width:53em; margin-right:-3em; span.icon {background-color:$efi2;}}
				&.pub {background-color:$pub; width:45em; margin-left:5em; span.icon {background-color:$pub2;}}
				&.med {background-color:$med; width:40em; margin-right:10em; span.icon {background-color:$med2;}}
				&.com {background-color:$com; width:60em; span.icon {background-color:$com2;}}
				&:hover {
					a {text-decoration:underline}
					&.seg {background-color:$seg2;}
					&.urb {background-color:$urb2;}
					&.eco {background-color:$eco2;}
					&.efi {background-color:$efi2;}
					&.pub {background-color:$pub2;}
					&.med {background-color:$med2;}
					&.com {background-color:$com2;}
				}
			}
			br.soloEnMovil {display:none}
		}
		&.counted ul li small {display:block}


		$alcaldeHeight:23em;
		/* ALCALDE */
		#alcalde {text-align:center; height:$alcaldeHeight; line-height:$alcaldeHeight; width:111em;
			position:absolute; bottom:2em; left:0; margin-bottom:-$alcaldeHeight; @include transition(margin-bottom 1s ease);

			h2, .bio, .inicioFin, .datos {display:inline-block; text-align:left; line-height:normal; vertical-align:top;
				div.text {font-size:160%}
			}
			h2 {font-size:100%; text-align:center; margin:0; padding:0; background:#DBC808; height:$alcaldeHeight;
				padding:0 3em; overflow:hidden;
				img {height:11em; margin-top:3em}
				span {display:block; font-size:220%; margin-top:0.5em}
			}
			.datos { background:#DBC808; height:$alcaldeHeight; padding:0 2em; padding-left:0;
				a {text-decoration:none;
					&:hover {text-decoration:underline};
				}
				img {height:2em; vertical-align:middle; margin-right:0.5em}
				.tel, .email, .twitter {margin:1.5em 0;
					span, a {font-size:160%}
				}
				.tel {margin-top:5em;
					img {height:3em}
				}
			}
			.bio, .inicioFin {background:#FCE809; width:28em; padding:2em; vertical-align:middle; height:15em; margin-top:0.5em; font-size:100%;
			}
			.bio {padding-right:0;
				.text {margin:1em}
			}
			.inicioFin { text-align:center; padding-left:0;
				b {padding-left:1em; background:#DBC808; display:inline-block; margin:0.3em 0; font-weight:normal;
					big {color:black; background:#C1B10B; padding:0.2em 0.5em; vertical-align:middle; font-size:100%; display:inline-block}
				}
				b:last-of-type {margin-bottom:1em}
				.dias, .porcentaje {display:inline-block; font-weight:bold; width:auto; padding:0 0.3em; height:2em; line-height:2em; vertical-align:middle;
					i {font-style:normal}
				}
				.dias {background:#000; color:white; font-size:100%; padding:0 0.7em;}
				.porcentaje {background:#DBC808; font-weight:normal}
			}
			a {color:black}
		}
	}

	&.movil #indice {font-size:10px;
		ul {
			li {
				.right {
					big, small {margin-left:0; text-align:left}
					span.icon {float:none; margin-left:0; }
				}
				&.seg, &.urb, &.eco, &.efi, &.pub, &.med, &.com {margin:2em auto}
			}
			br.soloEnMovil {display:block}
		}
	}

	#template {display:none}

	/* EJE */
	.eje { padding:0; margin:0; text-align:left; 
		h3 {text-align:center; font-weight:100; color:white; margin:0; padding:2em 0; padding-top:38em; font-size:100%;
			width:100%; height:10em; line-height:10em;
			span { display:inline-block; margin:0; margin-left:-8em; padding-right:2em; line-height:10em; vertical-align:top;
				img {height:8em; vertical-align:middle}
			}
			big {display:inline-block; font-size:550%; font-weight:100; text-transform:uppercase}
		}

		p {color:white; margin:0 auto; font-size:170%; width:35em; line-height:1.4em;
			span {background:rgba(200,200,200, 0.3); padding:0.2em 0.3em}
			a.indicadores {display:block; color:white; font-size:80%; margin-top:0.5em; margin-bottom:1em; text-align:center; text-decoration:none;
				&:hover {text-decoration:underline}
				i, em {font-style:normal} em {display:none}
				&.ocultar {i {display:none} em {display:inline-block}}
			}
			span.compromisos, span.indicadores {background:rgba(255, 255, 255, 0.5); color:black; font-weight:bold}
		}

		ol { counter-reset:compromiso;
			li { counter-increment:compromiso;
				&::before { background:white; color:black; width:1.5em; height:1.5em; line-height:1.5em; text-align:center;
					display:inline-block; position:absolute; top:-0.1em; left:-1.5em; z-index:2; content:counters(compromiso, ".") " ";
					font-size:220%; font-weight:100; margin-top:1em;
				}
			}
		}
		ol.compromisos {width:90em; margin:0 auto; ;
			li.compromiso { padding:0 2em; margin:2em 0; list-style-type:none; position:relative;
				big {color:white; font-size:200%; cursor:pointer; padding:1.2em 1em; line-height:1.2em; display:inline-block;
					margin-left:-1em; margin-right:0; max-width:30em; position:relative; margin-top:1em;
					.veSusIndicadores {position:absolute; bottom:-2em; right:0; text-decoration:none; font-size:70%; color:white;
						opacity:0.5;
						i, em {font-style:normal} em {display:none}
						span {background:rgba(200,200,200, 0.3); padding:0.2em 0.3em;
							&.indicadores {background:rgba(255, 255, 255, 0.5); color:black; font-weight:bold}
						}
					}
					&:hover .veSusIndicadores {text-decoration:underline; opacity:1}
				} 
				img.icon {vertical-align:top; height:7em; margin-left:2em; margin-top:2em}
				ol.indicadores {display:none; margin:0; margin-top:5em; padding:0; list-style-type:none;
					li.indicador {padding:0; margin:2em 0; position:relative;
						&::before {width:2.3em; top:-1em; left:-2em; background:#555; color:white; font-size:200%}
						div {display:inline-block; text-align:center; vertical-align:top}
						.li {width:100%;
							.descripción {width:50%; padding:1em; background:white; font-size:180%; display:inline-block; text-align:left; margin-right:0; }
							.arranque, .actualización, .meta {width:4em; padding:0 0.2em; margin:0; color:white; line-height:2.5em;
								font-weight:normal; font-size:200%; margin-top:0.1em; vertical-align:bottom;
								span { font-size:90%; 
									b {font-size:110%; margin-right:0.2em; display:inline-block; vertical-align:middle}
								}
							}
							.arranque {text-align:right; position:relative; border-right:1px solid white; line-height:2.8em;
								span {display:inline-block; vertical-align:bottom; height:2.5em;}
								&::before {content:"ARRANQUE"; display:block; position:absolute; top:0; right:0;
									background:white; color:black; font-size:0.5em; font-weight:bold; height:2em;
									line-height:2em; padding:0 0.3em; margin:0;
								}
							}
							.actualización {width:10em; padding:0; margin-top:0em; border-bottom:2px solid white; text-align:left; line-height:2.2em;
								div.bar {display:inline-block; vertical-align:bottom; height:1em; background:rgba(119,119,119, 0.7); border-right:1px solid black}
								span {background:#ccc; color:black; padding:0.2em 0.5em; padding-top:0; position:relative; z-index:3;
									display:inline-block; height:1.5em; line-height:1.5em; vertical-align:top;
									border-radius:0.3em; text-align:center;
									&:before {content:""; width:0; height:0; font-size:0; line-height:0;
											border-right:10px solid transparent;
											border-top:10px solid #ccc;
											position:absolute; bottom:-6px; left:0;
									}
								}
							}
							.meta {text-align:left; border-left:1px solid white; padding-left:0.4em; position:relative; line-height:2.8em;
								span {display:inline-block; vertical-align:bottom; height:2.5em}
								&::before {content:"META"; display:block; position:absolute; top:0; left:0;
									background:black; color:white; font-size:0.5em; font-weight:bold; height:2em;
									line-height:2em; padding:0 0.3em; margin:0;
								}
							}
							.arranque, .meta { span { font-size:85%; } }
						}
						.hover {display:none; text-align:left; font-size:90%; margin:0; color:white;
							.fuente, .observaciones { text-align:center; padding:1em 0.5em 0 0.5em; font-size:150% }
							.fuente {width:20%; font-weight:bold;
								em {font-weight:100}
								a {font-style:italic; color:white}
							}
							.observaciones {width:30%; }
							.fechaarranque, .fechaactualización, .fechameta {width:5em; padding:0.7em 0.3em; text-align:center; font-size:180%; color:#ccc;
							}
							.fechaarranque, .fechameta {width:7.5em; padding:1em 0.45em; text-align:center; font-size:120%; color:#ccc;
								b {font-size:150%; display:block}
							}
							.fechameta {width:6.75em}
							.fechaactualización {width:12em}
						}
						&:hover .hover {display:block}
					}
				}
				&.picked {
					.veSusIndicadores {i {display:none} em {display:inline-block}} 
					ol.indicadores {display:block; }
				}
			}
		}
		&#seguridad {li.compromiso { big {background-color:$seg2;} &:hover  big {background-color:$seg;}}}
		&#desarrollo-urbano {li.compromiso { big {background-color:$urb2;} &:hover  big {background-color:$urb;}}}
		&#desarrollo-economico {li.compromiso { big {background-color:$eco2;} &:hover  big {background-color:$eco;}}}
		&#eficiencia {li.compromiso { big {background-color:$efi2;} &:hover  big {background-color:$efi;}}}
		&#servicios-publicos {li.compromiso { big {background-color:$pub2;} &:hover  big {background-color:$pub;}}}
		&#medio-ambiente {li.compromiso { big {background-color:$med2;} &:hover  big {background-color:$med;}}}
		&#comunidad {li.compromiso { big {background-color:$com2;} &:hover  big {background-color:$com;}}}
	}
	#feedback { color:white;
		h2 {font-size:5em; font-weight:100; text-transform:uppercase; padding-top:10em}
		p {font-size:200%;}
	}
}


body.zap#zapGdl #header.small .top img.up {margin:0 4.93em}
