@charset "UTF-8";
@import "bourbon/bourbon";

body {margin:0; padding:0; text-align:center; background:white; font-family:sans-serif}

$seg:#AF0B1E;  $seg2:#770013; 
$urb:#CDDA1B;  $urb2:#7F9304;
$eco:#F6921F;  $eco2:#8F4103;
$efi:#8583A0;  $efi2:#3A374C;
$pub:#E50027;  $pub2:#7A000D;
$med:#FBBF0E;  $med2:#885C03;
$com:#253763;  $com2:#151D39;


#inicio {font-size:10px;
	h1, h2, h3 {font-size:100%}
	/* BIENVENIDA */
	.bienvenida { 
		h1 img { width:70em; }
		a {color:black}
		p {font-size:150%}

		.municipio {display:inline-block; width:40em; height:27.5em; color:white; text-decoration:none;
			h2 {font-size:5em; margin-top:5em; margin-bottom:0}
			h3 {font-size:3em; margin-top:1em}

			.mouseout {display:inline-block}
			.mouseover {display:none}

			&.zap {
				background:#5C5973 url(/img/zapgdl/zap-bkg.png) no-repeat center bottom;
				background-size:auto 100%;
				margin-right:3em;
			}
			&.gdl {
				background:#5C5973 url(/img/zapgdl/gdl-bkg.png) no-repeat center bottom;
				background-size:auto 100%;
			}

			&:hover {
				background-color:#121A2E;
				color:white;
				.mouseout {display:none}
				.mouseover {display:inline-block}
			}

		}
	}

	.intro { width:60em; margin:3em auto; text-align:left; font-size:110%;
		p.first {font-size:130%}
		ul.fuentes {
		}
		ul.ejes {list-style-type:none; font-size:120%;
			li {font-weight:bold; margin:0.5em 0; 
				span {border-radius:50%; width:7em; height:7em; line-height:7em; vertical-align:middle;
					font-size:130%; margin-right:1.5em; text-align:center; color:#fff; display:inline-block;
					img {height:5em; vertical-align:middle;}
				}
			}
			.seg {color:$seg; span {background-color:$seg}}
			.urb {color:$urb; span {background-color:$urb}}
			.eco {color:$eco; span {background-color:$eco}}
			.efi {color:$efi; span {background-color:$efi}}
			.pub {color:$pub; span {background-color:$pub}}
			.med {color:$med; span {background-color:$med}}
			.com {color:$com; span {background-color:$com}}
		}
		.tabla {
			text-align:center;
		}
	}

	.sponsors {padding-bottom:5em; margin-top:4em; padding-top:3em; border-top:1px solid #aaa; color:#aaa; background:#eee;
		img {vertical-align:middle}
		.jcv {width:20em; margin-right:5em}
	}
}


$headerHeight:20em;
$smallHeaderHeight:8em;

/* GUADALAJARA */
#guadalajara {font-size:10px;
	#header { vertical-align:middle; background:#555; height:$headerHeight; width:100%; line-height:$headerHeight; text-align:left; color:white; position:fixed; top:0; left:0; overflow:hidden; z-index:2; @include transition(all 1s ease);
		.home {display:inline-block; text-decoration:none; background:#eee; float:left; width:50em; text-align:center; @include transition(all 1s ease); height:$headerHeight;
			img {width:40em; vertical-align:top; margin-top:3em; @include transition(all 1s ease);}
		}
		.top {height:$headerHeight; line-height:$headerHeight; vertical-align:bottom; font-weight:bold; margin:0 2em; padding:0; display:inline-block; text-decoration:none; color:white; @include transition(all 1s ease);
			img {height:$headerHeight; vertical-align:top; margin:0 3em; @include transition(all 1s ease);}
			span {display:inline-block; vertical-align:middle; font-size:4em; margin-top:0.75em}
		}
		&.small { height:$smallHeaderHeight; line-height:$smallHeaderHeight;
			.home {width:2.25em; height:$smallHeaderHeight;
				img {width:20em; margin-top:0}
			}
			.top {line-height:$smallHeaderHeight; font-size:150%;
				img {height:$smallHeaderHeight}
			}
		}
	}

	/* Indice de ejes */
	#indice {padding:0; background:#eee; height:100%; position:relative; overflow:hidden;
		@include linear-gradient(to right, #bbb, #eee);

		.bienvenida { padding-top:$headerHeight; margin:2.5em 2em 1em 2em;
			p {margin:0; padding:0; font-size:200%;}
		}
		big {display:block}
		ul {list-style-type:none; width:80%; margin:0 auto; text-align:center;
			li {color:white; margin:1.5em; padding:0; display:inline-block; width:60em; cursor:pointer; text-align:left;
				@include transition(all 1s ease);
				span.icon { float:left; margin:0; margin-right:2em; padding:1em;
					img {height:8em;}
				}
				&.right {
					big, small {margin-left:1.5em; text-align:right; display:block}
					span.icon {float:right; margin-right:0; margin-left:2em}
					small {display:none}
				}
				big {margin-top:1.5em; font-size:100%}
					a {color:white; text-decoration:none; font-weight:bold; font-size:150%}
				small {font-size:110%; display:none}
				&:hover {
					a {text-decoration:underline}
				}

				&.seg {background-color:$seg; width:40em; margin-left:10em; span.icon {background-color:$seg2;}}
				&.urb {background-color:$urb; width:40em; margin-right:10em; span.icon {background-color:$urb2;}}
				&.eco {background-color:$eco; width:50em; margin-left:0; span.icon {background-color:$eco2;}}
				&.efi {background-color:$efi; width:50em; margin-right:0; span.icon {background-color:$efi2;}}
				&.pub {background-color:$pub; width:40em; margin-left:10em; span.icon {background-color:$pub2;}}
				&.med {background-color:$med; width:40em; margin-right:10em; span.icon {background-color:$med2;}}
				&.com {background-color:$com; width:55em; span.icon {background-color:$com2;}}
				&:hover {
					a {text-decoration:underline}
					&.seg {background-color:$seg2;}
					&.urb {background-color:$urb2;}
					&.eco {background-color:$eco2;}
					&.efi {background-color:$efi2;}
					&.pub {background-color:$pub2;}
					&.med {background-color:$med2;}
					&.com {background-color:$com2;}
				}
			}
		}
		&.counted ul li small {display:block}

		$alcaldeHeight:20em;
		/* ALCALDE */
		#alcalde {text-align:center; height:$alcaldeHeight; line-height:$alcaldeHeight; 
			position:absolute; bottom:0; left:0; margin-bottom:-$alcaldeHeight; @include transition(margin-bottom 1s ease);

			h2, .bio, .inicioFin, .datos {display:inline-block; text-align:left; line-height:normal; vertical-align:top}
			h2 {font-size:100%; text-align:center; margin:0; padding:0; background:#DBC808; height:$alcaldeHeight;
				padding:0 3em; overflow:hidden;
				img {height:9em; margin-top:3em}
				span {display:block; font-size:150%}
			}
			.datos { background:#DBC808; height:$alcaldeHeight; padding:0 2em;
				.tel {margin-top:6em}
				div {margin:1.5em 0;
					span, a {font-size:120%}
				}
			}
			.bio, .inicioFin {background:#FCE809; width:25em; padding:2em; vertical-align:middle; height:-2.5em+$alcaldeHeight; margin-top:2.5em; font-size:100%}
			.inicioFin { text-align:center;
				b {padding-left:1em; background:#DBC808; display:inline-block; margin:0.3em 0; font-weight:normal;
					big {color:black; background:#C1B10B; padding:0.2em 0.5em; vertical-align:middle; font-size:100%; display:inline-block}
				}
				b:last-of-type {margin-bottom:1em}
				.dias, .porcentaje {display:inline-block; font-weight:bold; width:auto; padding:0 0.3em; height:3em; line-height:3em; vertical-align:middle;
					i {font-style:normal}
				}
				.dias {background:#000; color:white; font-size:100%; padding:0 0.7em;}
				.porcentaje {background:#DBC808; font-weight:normal}
			}
			a {color:black}
		}
	}


	#template {display:none}

	/* EJE */
	.eje { padding:2em 0; margin:0; text-align:left;
		h3 {text-align:center; padding-top:2em;
			font-weight:bold; color:white; margin:0; padding:2em 0; font-size:200%; width:100%; height:10em; line-height:10em;
			span { display:inline-block; margin:0; padding:0 1em; line-height:10em; vertical-align:top;
				img {height:8em; vertical-align:middle}
			}
			big {display:inline-block; height:10em; padding:0 3em;}
		}

		p {color:white; margin:0 auto; font-size:150%; width:34em;
			a.indicadores {display:block; color:white; font-size:90%; margin:0 auto; margin-top:0.5em; margin-bottom:1em}
		}

		ol.compromisos {width:90em; margin:0 auto;
			li.compromiso { padding:2em 4em; margin:0;
				big {color:white; font-size:130%; cursor:pointer; padding:1em 2em; line-height:4em; display:inline-block;
					margin-left:-5em; margin-right:5em;
				} 
				ol.indicadores {display:none; margin:0; padding:0;
					li.indicador {padding:0; margin:2em 0; background:#ddd;
						div {display:inline-block; text-align:center; vertical-align:top}
						.descripción {width:60%; padding:1.5em; font-size:120%; display:inline-block; text-align:left; margin-right:0.5em}
						.arranque, .actualización, .meta {width:6em; background:#ccc; padding:1em; margin:1em 0; 
							font-weight:bold; font-size:120%; margin-top:1.5em}
						.actualización {width:10em; padding:1.5em 1em; margin-top:1em; background:#aaa}
						.hover {display:none; background:#ccc; text-align:left; font-size:90%;
							.fuente {width:20%; text-align:center; padding:1em; background:#999; 
								a {font-style:italic;}
							}
							.observaciones {width:40%; text-align:left; padding:1em}
							.fechaarranque, .fechaactualización, .fechameta {width:6em; padding:1em; text-align:center;}
							.fechaactualización {width:10em}
						}
						&:hover .hover {display:block}
					}
					&.picked {display:block}
				}
			}
			&.picked {
				li.compromiso ol.indicadores {display:block}
			}
		}
		&#seguridad {@include linear-gradient(to left, $seg2, $seg); li.compromiso { big {background-color:$seg2;} &:hover  big {background-color:$seg;}}}
		&#desarrollo-urbano {@include linear-gradient(to left, $urb2, $urb); li.compromiso { big {background-color:$urb2;} &:hover  big {background-color:$urb;}}}
		&#desarrollo-economico {@include linear-gradient(to left, $eco2, $eco); li.compromiso { big {background-color:$eco2;} &:hover  big {background-color:$eco;}}}
		&#eficiencia {@include linear-gradient(to left, $efi2, $efi); li.compromiso { big {background-color:$efi2;} &:hover  big {background-color:$efi;}}}
		&#servicios-publicos {@include linear-gradient(to left, $pub2, $pub); li.compromiso { big {background-color:$pub2;} &:hover  big {background-color:$pub;}}}
		&#medio-ambiente {@include linear-gradient(to left, $med2, $med); li.compromiso { big {background-color:$med2;} &:hover  big {background-color:$med;}}}
		&#comunidad {@include linear-gradient(to left, $com2, $com); li.compromiso { big {background-color:$com2;} &:hover  big {background-color:$com;}}}
	}
}

