body {
  font-family: "Montserrat", sans-serif;
}


.indicador_2.{
display:none;}

.indicador_3.{
display:none;}

.indicador_4.{
display:none;}


h1 {
  font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: #0e2a5d;
}

p {
  font-size: calc(15px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.title1 {
  font-size: calc(14px + (26 - 15) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 400;
}

.title4 {
  font-size: calc(10px + (26 - 15) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 400;
}

.link1 {
  color: #0e2a5d;
}

.link1:hover {
  color: #fff;
  text-decoration: none;
}

.bg1 {
  background-color: #192759;
}
.bg2 {
  background-color: #2faad0;
}
.bg3 {
    background-color: #DBC808;
}
.bg4 {
    background-color: #FCE809;
}

.text-azul1 {
  color: #0e2a5d;
}

.img-fluid-1 {
  height: auto;
  width: 30%;
  margin: 0 auto;
}

li.indicador.llegoMeta .graficos .aactualización span,
li.indicador.llegoMeta .graficos .aactualización_2 span,
li.indicador.llegoMeta .graficos .aactualización_3 span {
  left: 70%;
}


#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .aactualización span.llegoMeta,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .aactualización_2 span.llegoMeta,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .aactualización_3 span.llegoMeta,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .aactualización_4 span.llegoMeta {
  position: absolute;
  float: right;
  right: -2rem;
}

.positionRight {
    left: 39%;
    top: -2em;
}

.positionRight span:before {
    content: "";
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid #ccc;
    position: absolute;
    bottom: -6px;
    left: 0;
}

.section1 {
  background-image: url("../images/Fondos-QHHA-03.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  padding: 10% 0%;
  width: 100%;
}

.section2 {
  background-image: url("../images/Fondos-QHHA-05.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  padding: 10% 0%;
  width: 100%;
}

.section3 {
  background-image: url("../images/Fondos-QHHA-03.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  padding: 10% 0%;
  width: 100%;
}

.section4 {
  background-image: url("../images/Fondos-QHHA-04.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  padding: 10% 0%;
  width: 100%;
}

.section5 {
  height: auto;
  padding: 10% 0%;
  width: 100%;
}

iframe {
  width: 100%;
  height: 100vh;
}

.section6 {
  background-color: #ccc;
  height: auto;
  padding: 5% 0%;
  width: 100%;
}

.img-ejes {
  width: 70%;
  height: auto;
}

#flor-economia {
  position: absolute;
  left: 48%;
  top: 5%;
  font-size: 12px;
}

#flor-img-economia {
  width: 10%;
  top: 18%;
  left: 50%;
  position: absolute;
}

#flor-img-economia:after {
  content: "Economia";
  position: absolute;
  top: 0;
  right: 0;
}

#flor-educacion {
  position: absolute;
  top: 32%;
  right: 3%;
  font-size: 12px;
}

#flor-img-educacion {
  width: 10%;
  top: 37%;
  right: 24%;
  position: absolute;
}

#flor-seviciosPublicos {
  position: absolute;
  bottom: 10%;
  right: 7%;
  font-size: 12px;
  width: 20%;
}

#flor-img-seviciosPublicos {
  width: 10%;
  right: 27%;
  position: absolute;
  bottom: 21%;
}

#flor-medioAmbiente {
  position: absolute;
  left: 40%;
  bottom: -10%;
  font-size: 12px;
  width: 20%;
}

#flor-img-medioAmbiente {
  width: 10%;
  bottom: 8%;
  left: 44%;
  position: absolute;
}

#flor-seguridad {
  position: absolute;
  top: 80%;
  left: 8%;
  font-size: 12px;
}

#flor-img-seguridad {
  width: 10%;
  left: 27%;
  position: absolute;
  bottom: 23%;
}

#flor-desarrolloUrbano {
  position: absolute;
  top: 27%;
  left: 5%;
  font-size: 12px;
  width: 20%;
}

#flor-img-desarrolloUrbano {
  width: 10%;
  top: 28%;
  left: 30%;
  position: absolute;
}

.imgover {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 99;
}

.card:hover .imginit {
  display: none;
}
.card:hover .imgover {
  display: inline;
}

#delToro:hover,
#lemus:hover {
  background-color: #1d4075;
  border-radius: 10px;
  color: #fff;
  transition: all 0.5s;
  box-shadow: -1px 1px 2px #00000069;
}

#zapGdl #indice .bienvenida {
    padding-top: 20em;
    margin: 2.5em 2em 1em 2em;
}

/** section 1 zap gdl*/
#zapGdl #indice ul li.seg,
#zapGdl #indice ul li.urb,
#zapGdl #indice ul li.eco,
#zapGdl #indice ul li.efi,
#zapGdl #indice ul li.pub,
#zapGdl #indice ul li.med {
    background-color: #172f61;
    width: 100%;
    margin: 1em;
}
/***/

.credits {
  font-size: 2em;
  text-align: center;
  background: #bbb;
  padding: 0.5em 0;
  color: black;
}
.creditList {
  display: none;
}
.credits a {
  color: black;
  font-size: 16px;
}

.github {
  padding: 2em 0;
  background: #bbb;
  color: black;
}
.github a {
  color: black;
}
.github img {
  vertical-align: middle;
}

#inicio .credits a,
#zapGdl .credits a,
#inicio .github a,
#zapGdl .github a {
  color: black;
}

#zapGdl .eje ol.compromisos li.compromiso {
    padding: 0 2em;
    margin: 0 auto;
    list-style-type: none;
    position: relative;
    width: 97%;
    text-align: center;
}

#zapGdl .eje h3 big {
    display: inline-block;
    font-size: 200%;
    font-weight: 100;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 500;
}

.positionRight {
    right: 0%;
}

.graficos {
    width: 100%;
    position: relative;
    margin: 3em 0;
}

.graficos_2 {
  width: 90%;
  position: relative;
  margin: 3em 0;
}

.graficos_3 {
  width: 90%;
  position: relative;
  margin: 3em 0;
}

.datos1 {
    position: relative;
    left: 0em;
    order: 1;
}

/* .datos2 {
    position: relative;
    left: -18%;
} */

/* ---------  Estilos para el resultado negativo   ----------- */



/* --------- Fin estilos para el resultado negativo   ----------- */

/* ---------  Estilos para el resultado positivo -----------------*/

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .aactualización span.recorreRight,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .aactualización_2 span.recorreRight,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .aactualización_3 span.recorreRight,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .aactualización_4 span.recorreRight {
  left: 8rem;
  top: 0;
}

.negativo {
  opacity: 0;
  width: 0;
}

span.leftFull {
  right: 50%;
  transform: translate(30%, 23px);
}

span.rightFull {
  left: 86%;
}

/* ---------- Fin estilos positivos ------------------------------ */

/*-------------------------nuevos estilos----------------------*/
.graficos_2,
.graficos_3 {
  position: relative;
  margin: 2rem 0;
  float: right;
}

/*.graficos_3 {
  position: absolute;
  right: 0;
  bottom: 0;
}*/

.datos2 {
  position: relative;
  left: 0%;
}

.fecha1aactualización {
  width: 50%;
  text-align: center;
  padding: 0px 15px;
}

.fechalíneabase {
  position: relative;
  width: 10%;
  text-align: right;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .descripción_vacia,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .descripción_vacia,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .descripción_vacia {
  width: 50%;
  font-weight: 400;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador.no_numero::before {
  content: " ";
  background: none;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fuente,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .observaciones,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .hover .fuente_2,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .hover .observaciones_2,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .hover .fuente_3,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .hover .observaciones_3,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .hover .fuente_4,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .hover .observaciones_4 {
  text-align: center;
  padding: 1em 0.5em 0 0.5em;
  font-size: 10px;
}

.datos1,
.datos2 {
  width: 100%;
}

li.indicador.evidencia.entregado .aactualización span {
  top: 0;
  right: 0%;
}


#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .aactualización_2,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .aactualización_3,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .aactualización_4 {
  width: 44%;
  padding: 0;
  margin-top: 0em;
  border-bottom: 2px solid white;
  text-align: left;
  line-height: 2.2em;
  background-image: url(../img/indicador/fondo.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 33px;
}

.absolutePosition {
    position: absolute!important;
}

/*-------------------------------------- nuevos styles ---------------------*/

@media (min-width: 576px) {
        /** section 1 zap gdl*/
#zapGdl #indice ul li.seg,
#zapGdl #indice ul li.urb,
#zapGdl #indice ul li.eco,
#zapGdl #indice ul li.efi,
#zapGdl #indice ul li.pub,
#zapGdl #indice ul li.med {
    background-color: #172f61;
    width: 90%;
    margin: 1em;
}
/***/
#zapGdl #indice #alcalde .datos {
    padding: 3em;
    height: 224px;
}

}

@media (min-width: 768px) {

  #zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fuente,
  #zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .observaciones,
  #zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .hover .fuente_2,
  #zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .hover .observaciones_2,
  #zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .hover .fuente_3,
  #zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .hover .observaciones_3,
  #zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .hover .fuente_4,
  #zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .hover .observaciones_4 {
    text-align: center;
    padding: 1em 0.5em 0 0.5em;
    font-size: 12px;
  }

.datos2,
.datos3 {
  position: relative;
  font-size: 15px;
  width: 45%;
  margin: 0 auto;
  font-weight: 400;
}

  .positionRight {
      right: 0%;
  } 

  span.rightHalf.rightDecile.floatLeft1 {
    left: 75%;
}

    /** section 1 zap gdl*/
#zapGdl #indice ul li.seg,
#zapGdl #indice ul li.urb,
#zapGdl #indice ul li.eco,
#zapGdl #indice ul li.efi,
#zapGdl #indice ul li.pub,
#zapGdl #indice ul li.med {
    background-color: #172f61;
    width: 80%;
    margin: 1em;
}
/***/

#zapGdl .eje ol.compromisos li.compromiso {
    width: 73%;
}
#zapGdl .eje h3 big {
    display: inline-block;
    font-size: 200%;
    font-weight: 400;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: calc(40px + (40 - 20) * ((100vw - 300px) / (1600 - 300)));
}
#zapGdl #indice #alcalde .datos {
    padding: 3em;
    height: auto;
}

#zapGdl .eje ol.compromisos li.compromiso big {
    width: 91%;
}
#zapGdl .eje ol li::before {
    left: -2em;
}

#zapGdl .eje p {
  width: 50%;
}

#zapGdl.portrait .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .descripción {
  width: 90%;
}

#zapGdl
  .eje
  ol.compromisos
  li.compromiso
  ol.indicadores
  li.indicador
  .li
  .descripción {
  width: 100%;
}

#zapGdl.portrait .eje ol.compromisos li.compromiso big {
    max-width: 30em;
}

.graficos {
    width: 100%;
}

/*.datos1 {
    position: relative;
    left: 0em;
    float: left;
    width: 50%;
}
*/

.datos1 {
  position: relative;
    top: 0;
    font-size: 12px;
    left: 0;
    color: #000;
    font-weight: 500;
    width: 100%;
    margin-bottom: 34px;
}

.datos2 {
  position: relative;
    top: 0;
    font-size: 12px;
    left: 0;
    color: #000;
    font-weight: 500;
    width: 100%;
    margin-bottom: 34px;
}

.datos3 {
  position: relative;
    top: 0;
    font-size: 12px;
    left: 0;
    color: #000;
    font-weight: 500;
    width: 50%;
    margin-bottom: 34px;
}

/* .datos2 {
    position: relative;
    right: 0em;
    float: right;
    width: 44%;
    left: -3em;
}
*/


#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador.clicked .hover,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador:hover .hover,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2:hover .hover,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3:hover .hover,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4:hover .hover {
  position: relative;
  display: grid;
  left: 0;
  height: auto;
  min-height: 10vh;
}


#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .aactualización_2,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .aactualización_3,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .aactualización_4 {
    width: 15em;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fuente,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .hover .fuente_2,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .hover .fuente_3,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .hover .fuente_4 {
    width: 50%;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .observaciones,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .hover .observaciones,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .hover .observaciones,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .hover .observaciones {
    width: 50%;
}

/* #zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fechaaactualización {
    position: relative;
    left: 0;
    width: 25%;
    font-size: 15px;
}
 */
/* #zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fechameta {
    position: relative;
    top: 0;
    float: right;
    right: 10px;
} */

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fechalíneabase, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fechameta {
    left: 0;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador.floatLeft1 .graficos span.bgRojo,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2.floatLeft1 .graficos_2 span.bgRojo,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3.floatLeft1 .graficos_3 span.bgRojo,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4.floatLeft1 .graficos_4 span.bgRojo  {
  left: -53%;
  position: relative;
  top: 40px;
}

span.leftFull {
  right: 50%;
}
span.rightFull {
  left: 75%;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .descripción_vacia, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .descripción_vacia, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .descripción_vacia {
  width: 40%;
  font-weight: 400;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .líneabase::before,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .líneabase::before,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .líneabase::before,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .líneabase::before {
font-size: 12px;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .líneabase_2::before,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .líneabase_3::before,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .líneabase_4::before {
  font-size: 12px;
} 

span.leftFull {
    right: 50%;
    transform: translate(50%, 30px);
}

li.indicador.evidencia.entregado .aactualización span {
  top: 0;
  right: 0;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .aactualización, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .aactualización_2, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .aactualización_3, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .aactualización_4 {
  background-position: 0 -18px;
}

}

@media (min-width: 992px) {
  #flor-educacion {
    top: 32%;
    right: 6%;
    font-size: 18px;
  }
  #flor-img-educacion {
    width: 10%;
    top: 37%;
    right: 22%;
  }
  #flor-seviciosPublicos {
    bottom: 10%;
    right: 7%;
    font-size: 18px;
  }
  #flor-img-seviciosPublicos {
    width: 10%;
    right: 27%;
    bottom: 21%;
  }
  #flor-medioAmbiente {
    left: 40%;
    bottom: -5%;
    font-size: 18px;
  }
  #flor-img-medioAmbiente {
    width: 10%;
    bottom: 8%;
    left: 44%;
  }
  #flor-seguridad {
    top: 73%;
    left: 8%;
    font-size: 18px;
  }
  #flor-img-seguridad {
    width: 10%;
    left: 27%;
    bottom: 23%;
  }
  #flor-desarrolloUrbano {
    top: 27%;
    left: 5%;
    font-size: 18px;
  }
  #flor-img-desarrolloUrbano {
    width: 10%;
    top: 28%;
    left: 27%;
  }
  #flor-economia {
    left: 48%;
    top: 5%;
    font-size: 18px;
  }
  #flor-img-economia {
    width: 10%;
    top: 15%;
    left: 50%;
  }

/** section 1 zap gdl*/
#zapGdl #indice ul li.seg,
#zapGdl #indice ul li.urb,
#zapGdl #indice ul li.eco,
#zapGdl #indice ul li.efi,
#zapGdl #indice ul li.pub,
#zapGdl #indice ul li.med {
    background-color: #172f61;
    width: 40%;
    margin: 1em;
}


#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fecha1aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .hover .fecha2aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .hover .fecha3aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .hover .fecha4aactualización {
  width: 13em;
  position: relative;
  left: 5em;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fuente,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .hover .fuente_2,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .hover .fuente_3,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .hover .fuente_4 {
  width: 20%;
  font-weight: bold;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fechalíneabase,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .hover .fechameta,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .hover .datode1aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .hover .fechameta_2,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .datode2aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .hover .fechameta_3,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .hover .datode3aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .hover .fechameta_4   {
  width: 7.5em;
  padding: 1em 0.45em;
  text-align: center;
  font-size: 12px;
  color: black;
  position: relative;
  left: 7em;
}


/***/
#zapGdl .eje ol.compromisos li.compromiso {
  width: 90%;
}

#zapGdl .eje ol li::before {
  left: 0;
}

#zapGdl .eje h3 span {
    display: inline-block;
    margin: 0;
    margin-left: -8em;
    padding-right: 2em;
    vertical-align: middle;
  }
  #zapGdl .eje h3 span img {
    width: 5em;
    vertical-align: middle;
    height: auto;
  }

  #zapGdl .eje ol.compromisos li.compromiso big {
    width: 89%;
}
#zapGdl #indice #alcalde .datos {
    text-align: left;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .descripción {
    width: 40%;
    font-weight: 400;
}

.graficos,
.graficos_2  {
    width: 60%;
    position: relative;
    margin: 3em 0;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .aactualización_2,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .aactualización_3,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .aactualización_4 {
  /* width: 10em; */
  width: 9rem;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fuente,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .hover .fuente_2,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .hover .fuente_3,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .hover .fuente_4 {
  width: 50%;
  font-weight: bold;
  position: relative;
  top: 0em;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fechalíneabase,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .hover .datode1aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .hover .datode2aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .hover .datode3aactualización {
  width: 7.5em;
  padding: 1em 0.45em;
  text-align: center;
  font-size: 120%;
  color: black;
  position: relative;
  left: -1em;
  font-size: 15px;
  font-weight: bold;
}


#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fechameta, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .hover .fechameta_2,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .hover .fechameta_3,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .hover .fechameta_4 {
  width: 7.5em;
  padding: 1em 0.45em;
  text-align: center;
  font-size: 120%;
  color: black;
  position: relative;
  left: -1em;
  font-weight: bold;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fecha1aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .hover .fecha2aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .hover .fecha3aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .hover .fecha4aactualización {
  width: 30%;
  position: relative;
  left: -1em;
  height: auto;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 {
  padding: 0;
  margin: 2em 0;
  position: relative;
  text-align: center;
  width: 90%;
  left: 5em;
}

#zapGdl.portrait .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .observaciones,
#zapGdl.portrait .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .hover .observaciones_2,
#zapGdl.portrait .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .hover .observaciones_3,
#zapGdl.portrait .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .hover .observaciones_4 {
    width: 21.5%;
    position: relative;
    bottom: 0em;
    left: 0%;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador.negativeProgress .li .aactualización span.bgRojo,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2.negativeProgress .li .aactualización_2 span.bgRojo,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3.negativeProgress .li .aactualización_3 span.bgRojo,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4.negativeProgress .li .aactualización_4 span.bgRojo {
  color: #a70808;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador.negativeProgress .li .aactualización span.bgRojo b,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2.negativeProgress .li .aactualización_2 span.bgRojo b,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3.negativeProgress .li .aactualización_3 span.bgRojo b,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4.negativeProgress .li .aactualización_4 span.bgRojo b{
  color: #fff;
}


/* #zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador.negativeProgress .li .aactualización span, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador.negativeProgress.negativoPros .li .aactualización span.rightHalf {
    left: -20%;
    top: 0em;
} */

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador.masMeta .li .aactualización span,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2.masMeta .li .aactualización_2 span,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3.masMeta .li .aactualización_3 span,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4.masMeta .li .aactualización_4 span {
    left: 60%;
    top: 0;
}

#zapGdl #indice ul li a {
    font-size: 2em;
}

/* -------- Estilos de resultado negativo ---------- */

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador.negativeProgress .li .aactualización span.recorreLeft,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2.negativeProgress .li .aactualización_2 span.recorreLeft,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3.negativeProgress .li .aactualización_3 span.recorreLeft,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4.negativeProgress .li .aactualización_4 span.recorreLeft {
  right: 4rem;
  top: -18px;
}

/*-------------------fin estilos negativo -------- */


span.rightHalf.rightDecile.rightFull {
  left: 70%;
  transform: translate(23px, 16px);
}

span.leftFull {
  right: 70%;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .descripción_vacia, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .descripción_vacia, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .descripción_vacia {
  width: 40%;
  font-weight: 400;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador div, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 div, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 div, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 div {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador.clicked .hover, #zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador:hover .hover, #zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2:hover .hover, #zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3:hover .hover, #zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4:hover .hover {
  position: relative;
  display: block;
  left: 0;
  height: auto;
  min-height: 10vh;
}

.datos1 {
  position: relative;
  left: -5em;
  order: 1;
  width: 50%;
}

.datos2 {
  position: relative;
  left: -3%;
  width: 50%;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .aactualización, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .aactualización_2, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .aactualización_3, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .aactualización_4 {
  background-position: 0px -2px;
}


}/*cierra media 992*/

@media (min-width: 1200px) {
    
  /** section 1 zap gdl*/
#zapGdl #indice ul li.seg,
#zapGdl #indice ul li.urb,
#zapGdl #indice ul li.eco,
#zapGdl #indice ul li.efi,
#zapGdl #indice ul li.pub,
#zapGdl #indice ul li.med {
    background-color: #172f61;
    width: 34%;
    margin: 1em;
}
/***/

#zapGdl .eje ol li::before {
    left: 0em;
  }
  #zapGdl #indice #alcalde h2 {
    height: 50vh;
}
  #zapGdl #indice #alcalde .datos {
    text-align: left;
    height: 50vh;
}

#zapGdl .eje ol.compromisos li.compromiso {
    width: 80%;
}

#zapGdl #indice #alcalde .bio .text {
    margin: 10px;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fecha1aactualización {
    width: 13em;
}
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fuente,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .hover .fuente_2,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .hover .fuente_3,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .hover .fuente_4 {
    width: 50%;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fecha1aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .hover .fecha2aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .hover .fecha3aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .hover .fecha4aactualización
 {
  width: 12em;
}

#zapGdl .eje ol.compromisos li.compromiso big {
  width: 80%;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 {
  padding: 0;
  margin: 2em 0;
  position: relative;
  text-align: center;
  width: 89%;
  left: 10em;
}

.graficos,
.graficos_2,
.graficos_3 {
    width: 60%;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador.floatLeft1 .graficos span.bgRojo,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2.floatLeft1 .graficos_2 span.bgRojo,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3.floatLeft1 .graficos_3 span.bgRojo,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4.floatLeft1 .graficos_4 span.bgRojo {
  left: -62%;
  position: relative;
  top: 50px;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .aactualización_2,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .aactualización_3,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .aactualización_4 {
  width: 44%;
  padding: 0;
  margin-top: 0em;
  border-bottom: 2px solid white;
  text-align: left;
  line-height: 2.2em;
  background-image: url(../img/indicador/fondo.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 42px;
}

span.rightHalf.rightDecile.rightFull {
  left: 80%;
}


span.leftFull {
  right: 80%;
  transform: translate(0px, 25px);
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .líneabase span, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .líneabase_2 span, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .líneabase_3 span, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .líneabase_4 span, 
#zapGdl .eje ol.compromisos li.compromis ol.indicadores li.indicador .li .meta span, 
#zapGdl .eje ol.compromisos li.compromis ol.indicadores .indicador_2 .li .meta_2 span, 
#zapGdl .eje ol.compromisos li.compromis ol.indicadores .indicador_3 .li .meta_3 span, 
#zapGdl .eje ol.compromisos li.compromis ol.indicadores .indicador_4 .li .meta_4 span {
  font-size: 13px;
  display: inline-block;
  vertical-align: bottom;
  height: 15px;
  font-weight: 500;
  line-height: 15px;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .meta span, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .meta_2 span, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .meta_3 span, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .meta_4 span {
  display: inline-block;
  vertical-align: bottom;
  height: 1.5em;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
}

span.rightHalf.rightDecile.rightFull {
  left: 80%;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .descripción {
  width: 40%;
  font-weight: 400;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .descripción_vacia, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .descripción_vacia, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .descripción_vacia {
  width: 40%;
  font-weight: 400;
}


#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .aactualización, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .aactualización_2, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .aactualización_3, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .aactualización_4 {
    width: 9rem;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .meta, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .meta_2, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .meta_3, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .meta_4 {
  line-height: 3.8em;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .líneabase, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .líneabase_2, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .líneabase_3, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .líneabase_4 {
  line-height: 3.8em;
}

.datos2 {
  position: relative;
  left: 2%;
  width: 60%;
}

.datos1 {
  position: relative;
  left: -5em;
  order: 1;
  width: 40%;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .aactualización, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .aactualización_2, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .aactualización_3, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .aactualización_4 {
  width: 44%;
  background-size: cover;
  background-position: 0 -10px;
  line-height: 40px;

}

}/*cierra 1200*/

@media (min-width: 1400px) {
    
    /** section 1 zap gdl*/
  #zapGdl #indice ul li.seg,
  #zapGdl #indice ul li.urb,
  #zapGdl #indice ul li.eco,
  #zapGdl #indice ul li.efi,
  #zapGdl #indice ul li.pub,
  #zapGdl #indice ul li.med {
      background-color: #172f61;
      width: 25%;
      margin: 1em;
  }
  /***/

  #zapGdl .eje ol.compromisos li.compromiso big {
    width: 90%;
}

  #zapGdl #indice #alcalde h2 {
     height: 30em;
}
  #zapGdl #indice #alcalde .datos {
    text-align: left;
    height: 30em;
}

#zapGdl #indice #alcalde .bio, 
#zapGdl #indice #alcalde .inicioFin {
    padding: 1em;
}

#zapGdl .eje ol.compromisos li.compromiso {
    width: 65%;
}

/* #zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.graficos.clicked .hover,  */
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.graficos:hover .hover {
    height: 15vh;
}


#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .actualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .actualización_2,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .actualización_3,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .actualización_4  {
  width: 12rem;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fecha1aactualización {
    width: 9em;
}


.graficos,
.graficos_2,
.graficos_3 {
    margin: 1em 0;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador.floatLeft1 .graficos span.bgRojo,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2.floatLeft1 .graficos_2 span.bgRojo,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3.floatLeft1 .graficos_3 span.bgRojo,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4.floatLeft1 .graficos_4 span.bgRojo {
  left: -90%;
  position: relative;
  top: 10px;
}


#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .meta span, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .meta_2 span, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .meta_3 span, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .meta_4 span {
  display: inline-block;
  vertical-align: bottom;
  height: 15px;
  font-weight: 500;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .líneabase span, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .líneabase_2 span, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .líneabase_3 span, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .líneabase_4 span, 
#zapGdl .eje ol.compromisos li.compromis ol.indicadores li.indicador .li .meta span, 
#zapGdl .eje ol.compromisos li.compromis ol.indicadores .indicador_2 .li .meta_2 span, 
#zapGdl .eje ol.compromisos li.compromis ol.indicadores .indicador_3 .li .meta_3 span, 
#zapGdl .eje ol.compromisos li.compromis ol.indicadores .indicador_4 .li .meta_4 span {
  font-size: 13px;
  display: inline-block;
  vertical-align: bottom;
  height: 10px;
  font-weight: 500;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .aactualización_2,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .aactualización_3,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .aactualización_4 {
  width: 44%;
  padding: 0;
  margin-top: 0em;
  border-bottom: 2px solid white;
  text-align: left;
  line-height: 2.2em;
  background-image: url(../img/indicador/fondo.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 33px;
}

span.rightHalf.rightDecile.rightFull {
  left: 70%;
}

/* span.leftFull {
  right: 80%;
  transform: translate(70px, 25px);
} */

span.leftFull {
  right: 70%;
  transform: translate(0px, 25px);
}

.datos2 {
  position: relative;
  left: -4%;
  width: 50%;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .meta, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .meta_2, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .meta_3, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .meta_4 {
  line-height: 45px;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .líneabase, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .líneabase_2, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .líneabase_3, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .líneabase_4 {
  line-height: 45px;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .aactualización, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .aactualización_2, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .aactualización_3,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .aactualización_4 {
  width: 11rem;
}

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .li .aactualización, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .li .aactualización_2, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .li .aactualización_3, 
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .li .aactualización_4 {
  line-height: 30px;
}

.datos1 {
  position: relative;
  left: -5em;
  order: 1;
  width: 50%;
}
  
} /*cierra media 1400*/

@media (min-width: 1600px) {
/* .datos2 {
  position: relative;
  right: 0em;
  float: right;
  width: 30%;
  left: -12em;
  top: -1em;
} */

/* .datos2 {
  position: relative;
  right: 0em;
  float: right;
  width: 40%;
  left: -6em;
  top: -1em;
} */

#zapGdl .eje ol.compromisos li.compromiso ol.indicadores li.indicador .hover .fecha1aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_2 .hover .fecha2aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_3 .hover .fecha3aactualización,
#zapGdl .eje ol.compromisos li.compromiso ol.indicadores .indicador_4 .hover .fecha4aactualización {
  width: 10em;
}

} /*cierra media 1440*/
